<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trod.mapper.CardMapper">
    <insert id="insertMonsterCard" parameterType="com.trod.entity.Monster">
        INSERT INTO monster
            (
             name,
             attack,
             defense,
             level,
             type,
             attribute,
             description
            )
        VALUES
            (
             #{name},
             #{attack},
             #{defense},
             #{level},
             #{type},
             #{attribute},
             #{description}
            )
    </insert>

    <insert id="insertMainCharacter" parameterType="com.trod.entity.MainCharacter">
        INSERT INTO main_character
            (
             name,
             rarity,
             description,
             cost,
             health,
             mana,
             created_time,
             created_user_id
            )
        VALUES
            (
             #{name},
             #{rarity},
             #{description},
             #{cost},
             #{health},
             #{mana},
             <include refid="com.trod.mapper.Common.currentWithMilliSeconds"/>,
             #{user.id}
            )
    </insert>
</mapper>