<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trod.mapper.UserMapper">
    <sql id="selectUserColumns">
        SELECT u.id AS user_id,
               u.username AS username,
               u.password AS password,
               u.email AS email,
               g.id AS game_role_id,
               g.role AS game_role_enum
        FROM user AS u
        LEFT JOIN game_role AS g ON u.id = g.user_id
    </sql>
    <select id="findById" resultMap="userResultMap">
        <include refid="selectUserColumns"/>
        WHERE u.id = #{id}
    </select>

    <select id="findByEmail" resultMap="userResultMap">
        <include refid="selectUserColumns"/>
        WHERE u.email = #{email}
    </select>

    <select id="findByUsername" resultMap="userResultMap">
        <include refid="selectUserColumns"/>
        WHERE u.username = #{username}
    </select>

    <select id="findAll" resultMap="userResultMap">
        <include refid="selectUserColumns"/>
    </select>

    <insert id="insert" parameterType="com.trod.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
            (username, email, password)
        VALUES
            (#{username}, #{email}, #{password})
    </insert>

    <update id="update" parameterType="com.trod.entity.User">
        UPDATE user
        SET username = #{username}, email = #{email}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>

    <resultMap id="userResultMap" type="com.trod.entity.User">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <association property="gameRole" javaType="com.trod.entity.GameRole">
            <id property="id" column="game_role_id"/>
            <result property="role" column="game_role_enum" />
        </association>
    </resultMap>
</mapper>